.container {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}

.matrix-calculation {
  display: flex;
  justify-content: space-evenly;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.result {
  text-align: center;
  font-size: 18px;
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  margin-top: 30px;
}
